.recipes {
    text-align: center; 
}
  
  .recipes1 {
    display: flex;
    justify-content: center; 
}
  
.recipe1,
.recipe2 {
    text-align: left;
    margin: 20px -100px;
    
}
  
.recipe1 a,
.recipe2 a {
    display: block; 
    text-align: center; 
    text-decoration: none;
    color:black;
}
  
.recipe1 img,
.recipe2 img {
    width: 50%; 
}
  
.recipe1 h5,
.recipe2 h5 {
    margin-top: 10px; 
}
  